@charset "UTF-8";
body{
    background-color: #00FAD9;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #007A6A;
}

h1#principal{
    text-align: center;
    background-color: #003B33;
    color: white;
}

h2 {
    color:#02a18c ;
}

.basico {
    color:#02a18c 
}

.intermediario {
    color:#02a15f 
}

.avançado {
    color:#b85229 
}

.destaque {
    background-color: rgba(219, 219, 132, 0.61);
}
