@charset "UTF-8";

@font-face {
    font-family:'android';
    src: url(pacote-projeto-d010/fontes/idroid.otf) format('opentype'); }

@font-face {
    font-family:'Bebas Nue';
    src: url(pacote-projeto-d010/fontes/BebasNeue-Regular.ttf) format('TrueType');
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #05361a;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'android', sans-serif;
    --fonte2: 'Bebas Nue', 'cursive';
}

.mais {
    color: #145731;
}

body {
    background-color: var(--cor1);
    height: 100%;    
    margin: auto;
}

header {
    font-family: var(--fonte0);
    background-image: linear-gradient(to top ,var(--cor4), var(--cor3));
    padding: 10px 10px 23px 10px;
    margin: auto;
    color: var(--cor0);

}

header > h1{
    text-shadow: 1px 1px 4px black;
    font-family:var(--fonte2);
    text-align: center;
    font-size: 50px;
    padding: 2px 2px 0px 2px;
    margin: 20px 1px -10px 1px;
}

header > p {
    text-shadow: 1px 1px 4px black;
       text-align: center;
        padding: 2px 2px 20px 2px;
        font-size: 19px;
        font-weight:500;
        
}


nav > a {
    font-weight: 550;
    color: var(--cor0);
    text-decoration: none;
    padding: 10px 10px 10px 10px;

}
   

nav > a:hover {
    background-color: var(--cor3);
    color: #063d1e;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

article {
   padding: 10px 10px 10px 10px;
   margin: auto;
}

article > figure > picture {
    position: relative;
}

article > h1 {
    font-family: var(--fonte1);
    font-size: 230%;
    color: var(--cor4);
    text-indent: 15pt;

 }

article > a {
font-weight: bolder;

}

figcaption {
    font-family: var(--fonte0);
    text-align: justify;
    line-height: 1.5em;
    font-size: medium;
}

article > h2 {
    background-image: linear-gradient(to right, var(--cor0),rgba(255, 255, 255, 0.466) );
    font-family: var(--fonte1);
    font-size: x-large;
    color: var(--cor4);
    text-indent: 15pt;
    
}

article > p {
    font-family: var(--fonte0);
    text-align: justify;
    line-height: 1.8em;
    font-size: large;
    margin: 10px 16px 30px 10px;
    text-indent: 20pt;

}

main {
    background-color:white;
    margin:auto;
    width: 90%;
    
}

div.video{
    position:relative;
    background-color: var(--cor4);
    height: 0px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 10px;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 80%;
}

aside {
    background-color: var(--cor1);
    font-family: var(--fonte0);
    text-align: justify;
    line-height: 1.8em;
    font-size: large;
    margin: 10px 16px 30px 10px;
    text-indent: 20pt;
    border-radius: 25px 10px 10px 10px;
}

aside > h2 {
    background-color: var(--cor3);
    color: var(--cor0);
    padding: 10px 10px 23px 10px;
    border-radius: 25px 10px 10px 10px;
}

ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;


}
